In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\Dhika Ramadhan Saputra\Data Analist\Latihan data cleaning\Tableau Complete Project End-to-End\dataset\raw\(raw) Orders.csv", delimiter=';')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Postal Code,Product ID,Sales,Quantity,Discount,Profit
0,1,CA-2022-152156,08/11/2022,11/11/2022,Second Class,CG-12520,Consumer,42420,FUR-BO-10001798,"261,96",2,0,"41,9136"
1,2,CA-2022-152156,08/11/2022,11/11/2022,Second Class,CG-12520,Consumer,42420,FUR-CH-10000454,"731,94",3,0,"219,582"
2,3,CA-2022-138688,12/06/2022,16/06/2022,Second Class,DV-13045,Corporate,90036,OFF-LA-10000240,"14,62",2,0,"6,8714"
3,4,US-2021-108966,11/10/2021,18/10/2021,Standard Class,SO-20335,Consumer,33311,FUR-TA-10000577,"957,5775",5,"0,45","-383,031"
4,5,US-2021-108966,11/10/2021,18/10/2021,Standard Class,SO-20335,Consumer,33311,OFF-ST-10000760,"22,368",2,"0,2","2,5164"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2020-110422,21/01/2020,23/01/2020,Second Class,TB-21400,Consumer,33180,FUR-FU-10001889,"25,248",3,"0,2","4,1028"
9990,9991,CA-2023-121258,26/02/2023,03/03/2023,Standard Class,DB-13060,Consumer,92627,FUR-FU-10000747,"91,96",2,0,"15,6332"
9991,9992,CA-2023-121258,26/02/2023,03/03/2023,Standard Class,DB-13060,Consumer,92627,TEC-PH-10003645,"258,576",2,"0,2","19,3932"
9992,9993,CA-2023-121258,26/02/2023,03/03/2023,Standard Class,DB-13060,Consumer,92627,OFF-PA-10004041,"29,6",4,0,"13,32"
9993,9994,CA-2023-119914,04/05/2023,09/05/2023,Second Class,CC-12220,Consumer,92683,OFF-AP-10002684,"243,16",2,0,"72,948"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Row ID       9994 non-null   int64
 1   Order ID     9994 non-null   object
 2   Order Date   9994 non-null   object
 3   Ship Date    9994 non-null   object
 4   Ship Mode    9994 non-null   object
 5   Customer ID  9994 non-null   object
 6   Segment      9994 non-null   object
 7   Postal Code  9994 non-null   int64
 8   Product ID   9994 non-null   object
 9   Sales        9994 non-null   object
 10  Quantity     9994 non-null   int64
 11  Discount     9994 non-null   object
 12  Profit       9994 non-null   object
dtypes: int64(3), object(10)
memory usage: 1015.1+ KB